<div class="card-header">
    <h2 class="card-title text-center">Controle diario e Produção </h2>
</div>
<div class="card-body">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Horímetro Inicial</label>
            <input type="text" class="form-control" placeholder="00000">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Horímetro Final</label>
            <input type="text" class="form-control" placeholder="00000">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Horímetro total</label>
            <input type="text" class="form-control" placeholder="00000">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Òleo de Diesel</label>
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Oléo Queima</label>
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Produção</label>
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Observação:</label>
            <textarea  class="form-control" placeholder="Algum de importante">
            </textarea>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Lanche</label>
            <input type="text" class="form-control" placeholder="0 30">
        </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Almoço dia</label>
            <input type="text" class="form-control" placeholder="0 30">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Janta dia</label>
            <input type="text" class="form-control" placeholder="0 30">
          </div>
        </div> 
        <div class="col-6">
            <div class="form-group">
              <label>Pessoas</label>
              <input type="text" class="form-control" placeholder="0 30">
            </div>
          </div>
        </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary mt-2">Save</button>
        </div>
      </div>
    </form>
  </div>