<div class="card-header">
    <h2 class="card-title text-center">Controle Gastos</h2>
</div>
<div class="card-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Data</label>
            <input type="date" class="form-control" placeholder="00000">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Descrição</label>
            <input type="text" class="form-control" placeholder="Serviço de Informática">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Quantidade</label>
            <input type="text" class="form-control" placeholder="0 a 40">
          </div>
        </div>
        <div class="col-4">
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" placeholder="0 a 40">
        </div>
        </div>
        <div class="col-4">
        <div class="form-group">
            <label>Total</label>
            <input type="text" class="form-control" placeholder="0 a 40">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Observação</label>
            <textarea class="form-control">
            </textarea>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Aprovado?</label>
                <input type="text" class="form-control" placeholder="0 1000">
            </div>
        </div>
    </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary mt-2">Save</button>
        </div>
      </div>
    </form>
  </div>