<div class="card-header">
    <h2 class="card-title text-center">Controle Funcionários</h2>
</div>
<div class="card-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="00000">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Profissão</label>
            <input type="text" class="form-control" placeholder="Motorista">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>CPF:</label>
            <input type="text" class="form-control" placeholder="00.000.000.-00">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Telefone</label>
            <input type="text" class="form-control" placeholder="(00) 0000-0000">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Data Contrato</label>
            <input type="date" class="form-control" >
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Responsável</label>
            <input type="text" class="form-control" placeholder="0 a 40">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Observação:</label>
            <textarea  class="form-control" placeholder="Algum de importante">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary mt-2">Save</button>
        </div>
      </div>
    </form>
  </div>