<div class="card-header">
    <h2 class="card-title text-center">Controle Traço</h2>
</div>
<div class="card-body">
    <form>
      <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Pó de Brita</label>
                <input type="text" class="form-control" placeholder="0 a 1000">
              </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Brita 0</label>
            <input type="text" class="form-control" placeholder="0 a 1000">
          </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Brita 1</label>
                <input type="text" class="form-control" placeholder="0 a 1000">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Cap</label>
                <input type="text" class="form-control" placeholder="0 a 1000">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Areia</label>
                <input type="text" class="form-control" placeholder="0 a 1000">
            </div>
        </div>
      </div>


      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary mt-3">Save</button>
        </div>
      </div>
    </form>
  </div>